<%# views/charts.ejs %>

    <% extend('template') %>
    <style>
        button{
            background: #222;
            color: white;
            border-color: white;
            border-radius: 0px;
            margin: 20px;

        }
    </style>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <div class="container" style="width:80%; margin-top:50px; height:80%;">
        <button class="btn btn-lg" onclick="addChart();">Add Chart</button><h3>Add as many charts as you'd like, powered by <u><a href="https://tadingview.com" target="_blank">Trading View</a></u></h3>
        <div class="row" id="chartCont" style="height:80%;">
        </div>
    </div>
    
    <script type='text/javascript'>
    var numCharts = 1;
        function addChart(){
            numCharts++;
            $('#chartCont').append("<div class='col-lg-6' id='"+numCharts.toString()+"' style='height: 300px;'></div>");
            new TradingView.widget({
                    "autosize": true,
                    "symbol": "SPY",
                    "interval": "1",
                    "timezone": "Etc/UTC",
                    "theme": "Black",
                    "style": "3",
                    "container_id": numCharts.toString(),
                    "locale": "en",
                    "toolbar_bg": "rgba(34, 34, 34, 1)",
                    "enable_publishing": false,
                    "allow_symbol_change": true,
                    "save_image": false,
                    "hideideas": true
                    });
        }
    </script>