<%# views/chat.ejs %>

    <% extend('template') %>

        <link rel="stylesheet" href="/stylesheets/chat.css">
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>


        <div id='messageArea' class='row'>
            <div class='col-md-3' id="strategy">
                <div class='well' id="prompts">
                    <h3> Prompts</h3>
                    <ul class='list-group'>
                        <li class="list-item"> Monte-Carlo Simulation: monte (symbol) </li>
                        <li class="list-item"> Reversion to the mean: rev (universe) </li>
                        <li class="list-item"> Donchian Breakouts: donch (universe) </li>
                        <li class="list-item"> Moving Average Crossover: mac (symbol) </li>
                        <li class="list-item"> Sentiment Analysis: Coming Soon! </li>
                    </ul>
                </div>
            </div>
            <div class='col-md-6' id="chat">
                <div class='container' id='messageBox'></div>
                <div class="container" id="messageFormDiv">
                    <form id='messageForm'>
                        <div class="form-group">
                            <label>Enter Message</label>
                            <textarea class='form-control' id='message'></textarea>
                            <br />
                            <input type='submit' class='btn btn-primary' value='Send Message' id="send" />
                        </div>
                    </form>
                </div>
            </div>
            <div class='col-md-4' id="plots">
                <h3 style='text-align:center;'> Charts </h3>
                <div class="chart" style="margin: 0px;">
                    <script type="text/javascript">
                    new TradingView.widget({
                        "autosize": "true",
                        "symbol": "AAPL",
                        "interval": "D",
                        "timezone": "Etc/UTC",
                        "theme": "White",
                        "style": "3",
                        "locale": "en",
                        "toolbar_bg": "#f1f3f6",
                        "enable_publishing": false,
                        "allow_symbol_change": true,
                        "hideideas": true
                    });
                    </script>
            </div>
            <div class="chart" style="margin: 0px;">
                    <script type="text/javascript">
                    new TradingView.widget({
                        "autosize": "true",
                        "symbol": "MSFT",
                        "interval": "D",
                        "timezone": "Etc/UTC",
                        "theme": "White",
                        "style": "3",
                        "locale": "en",
                        "toolbar_bg": "#f1f3f6",
                        "enable_publishing": false,
                        "allow_symbol_change": true,
                        "hideideas": true
                    });
                    </script>
            </div>
            <div class="chart" style="margin: 0px;">
                    <script type="text/javascript">
                    new TradingView.widget({
                        "autosize": "true",
                        "symbol": "NVDA",
                        "interval": "D",
                        "timezone": "Etc/UTC",
                        "theme": "White",
                        "style": "3",
                        "locale": "en",
                        "toolbar_bg": "#f1f3f6",
                        "enable_publishing": false,
                        "allow_symbol_change": true,
                        "hideideas": true
                    });
                    </script>
            </div>
            <div class="chart" style="margin: 0px;">
                    <script type="text/javascript">
                    new TradingView.widget({
                        "autosize": "true",
                        "symbol": "NFLX",
                        "interval": "D",
                        "timezone": "Etc/UTC",
                        "theme": "White",
                        "style": "3",
                        "locale": "en",
                        "toolbar_bg": "#f1f3f6",
                        "enable_publishing": false,
                        "allow_symbol_change": true,
                        "hideideas": true
                    });
                    </script>
            </div>
            <div class="chart" style="margin: 0px;">
                    <script type="text/javascript">
                    new TradingView.widget({
                        "autosize": "true",
                        "symbol": "FB",
                        "interval": "D",
                        "timezone": "Etc/UTC",
                        "theme": "White",
                        "style": "3",
                        "locale": "en",
                        "toolbar_bg": "#f1f3f6",
                        "enable_publishing": false,
                        "allow_symbol_change": true,
                        "hideideas": true
                    });
                    </script>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/socket.js"></script>
        <script src='/socket.io/socket.io.js'> </script>
