<%# views/clenow.ejs %>

    <% extend('template') %>

 <link rel="stylesheet" href="/stylesheets/strategyPage.css"></link>

    
    <div class="container" style="width:60%;" id="title">
        <h1>Basic Momentum</h1>
        <h4>Article by Andreas Clenow, Chief Investment Officer of ACIES Asset Management AG</h4>
        <p>Original article and image courtesy of: <a target="_blank" href="http://www.followingthetrend.com/2014/03/free-trend-following-trading-system-rules/">followingthetrend.com</a></p>
    </div>
    <div class="container" id="content">
        <div id='Terminology' class='row'>
            <h3>The Terminology</h3>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <h4>The Rule of 72</h4>
                    <div class="caption">
                        A shortcut to estimate the number of years required to double your money at a given annual rate of return. The rule states that you divide the rate, expressed as a percentage, into 72.
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <h4>Trading Year</h4>
                    <div class="caption">
                        One Trading Year is 252 days.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h3>The Strategy</h3>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <h4>Buy</h4>
                    <div class="caption">
                        When today's close of a given stock is greater than it was one trading year ago.
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <h4>Sell</h4>
                    <div class="caption">
                        When today's close of a given stock is less than it was one trading year ago.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>The Return</h3>
            <div class="thumbnail" id="return">
            <img src="/img/clenow_return.png" width="400" height="400" id="img"> 
                <div class="caption">
                    This strategy was simulated from 1971 to 2015 and the annualized return was found to be 22%. By the Rule of 72, this translates to your money doubling itself every ~three years.
                </div>
            </div>
        </div>

        <div class="row">
            <h3>How to Use It</h3>
            <div class="thumbnail">
                <div class="caption">
                    For this strategy you evaluate your holdings each day.</br>
                    Head over to the 'Chat' page and send 'momentum sp100' to the Yung Quant investment bot to find out your monthly picks.
                </div>
            </div>
        </div>
    </div>