<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yung Quant</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
</head>

<style>
body{
    font-family: 'Istok Web', sans-serif;
    background: #222;
    color: #9d9d9d;
    font-size: 300%;
    text-align: center;
}
a{
    color:#9d9d9d;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}


</style>

<body>
    <div class="container">
        <h1> Sorry! YungQuant is down for maintainence.</h1><br><br>
        <p> Yahoo decided to remove the one feature that still made them relevant and useful: their finance API.
            In the meantime, YungQuant will be down and undergoing a massive overhaul. Please check back in August of 2018
            when I am finally finished this god forsaken degree and have a minute to myself. Thank you and see you soon,
            <a target="_blank" href="https://www.linkedin.com/in/shane-kennedy-087b77130/">Shane Kennedy</a>.
        </p>
    </div>

</body>
</html>
