<%# views/strategy.ejs %>

    <% extend('template') %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/strategy.css"></link>
    <div class="container" style="margin-top:70px;">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/revMean.png" width="250" height="250" id="img">
                <div class="caption">
                    <h3>Reversion to the Mean</h3>
                    <p>...</p>
                    <p><a href="#" class="btn" role="button">Read</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/donch.png" width="250" height="250" id="img">
                <div class="caption">
                    <h3>Donchian Channel Breakouts</h3>
                    <p>...</p>
                    <p><a href="#" class="btn" role="button">Read</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/mac.jpg" width="250" height="250" id="img">
                <div class="caption">
                    <h3>Moving Average Crossover</h3>
                    <p>...</p>
                    <p><a href="#" class="btn" role="button">Read</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/sma.gif" width="250" height="250" id="img">
                <div class="caption">
                    <h3>Simple Moving Average</h3>
                    <p>...</p>
                    <p><a href="#" class="btn" role="button">Read</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/monte.png" width="250" height="250" id="img">
                <div class="caption">
                    <h3>Monte Carlo Simulation</h3>
                    <p>...</p>
                    <p><a href="#" class="btn" role="button">Read</a></p>
                </div>
            </div>
        </div>
    </div>