<%# views/template.ejs %>
 
<!DOCTYPE html>
<html lang="en">

<head>
    <title>YQ</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<style>
body{
    font-family: 'Istok Web', sans-serif;
}
</style>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class= "icon-bar"></span>
                    <span class= "icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Yung Quant</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/strategy"> Strategies</a>
                        <li><a href="/chat"> Chat</a>
                </ul>
            </div>
        </div>
    </nav>

    <%- content %>
    <script src="/js/bootstrap.min.js"></script>
</body>