#messageArea {
    margin-top: 90px;
    height: 100vh;
}

#bot {
    background-color: #222;
    color: #9d9d9d;
}

#user{
    background-color: #F8F8F8;
    color: #222;
    text-align: right;
    margin-right: 2px;
}

#bot, #user{
    margin-bottom: 10px;
    padding: 4px;
    min-height: 15px;
}

#prompts{
    background-color: #222;
    color: #9d9d9d;
}

#send {
    background: #222;
    color: #9d9d9d;
}

#chat {
    width: 40%;
    align-self: center;
    border: 1px solid black;
    padding-bottom: 20px;
    height: 80%;
    border-radius: 20px;

}

#strategy,
#plots {
    overflow-y: scroll;
    height: 80%;
}

#messageFormDiv {
    bottom: 0px;
    width: 100%;
}

#messageBox {
    height: 80%;
    overflow-y: scroll;
    width: 100%;
    margin: 10px;
}

.chart {
    height: 300px;
    padding: 20px;
}

#messageForm {
    bottom: 10px;
}

body {
    overflow: hidden;
}

.messageBubble{
    border-radius: 15px;
    padding: 15px;
}