        .containerST {
        	background: #222;
        	height: 30px;
        	margin: 0 auto;
        	width: 928px;
        }

        .containerST .wrap {
        	width: 920px;
        	left: 5px;
        	overflow: hidden;
        	line-height: 30px;
        	font-size-adjust: none;
        }

        div.stockTicker {
        	font-size: 18px;
        	list-style-type: none;
        	margin: 0;
        	padding: 0;
        	position: relative;
        }

        div.stockTicker span.quote {
        	margin: 0;
        	font-weight: bold;
        	color:white;
        	padding: 0 5px 0 10px;
        }

        .GreenText {
        	color: Green;
        }

        .RedText {
        	color: Red;
        }

        .up_green {
        	background: url("../img/up.gif") no-repeat left center;
        	padding-left: 10px;
        	margin-right: 5px;
        }

        .down_red {
        	background: url("../img/down.gif") no-repeat left center;
        	padding-left: 10px;
        	margin-right: 5px;
        }