body{
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}
#content{
    width: 100%;
}
.row{
    margin: auto;
}
h3, h4{
    text-align: center;
}

h4, p {
    color: #9d9d9d;
}

#return{
    margin: auto;
    justify-content: center;
    width: 60%;
}
#title{
    text-align: center;
}
.caption{
    text-align: center;
    color: white;
}
.thumbnail{
    border-color: white;
    background: #222;
    color: white;
}
.thumbnail .caption {
    color: #9d9d9d;
}